# compiled output
/dist
/build

# dependencies
/node_modules

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.*
!.env.example

# persistence & data
data/
db-persistence.json
*.tmp
integration-test-artifacts.json
last-test-user.json

# logs
logs/
*.log

# build info
*.tsbuildinfo

